<div id="users">
  <%@users.each do |user|%>
    <div class="user" style="border: 1px solid; width:300px">
      <div>Name: <%=user.name%></div>
      <div>Email: <%=user.email%></div>
      <div>Join date: <%=user.created_at%></div>
      <div><a href="/delete_user/<%=user.id%>">Delete</a></div>
      <%if user.admin?%>
        <div><a href="/delete_admin/<%=user.id%>">Delete Admin</a></div>
      <%else%>
        <div><a href="/add_admin/<%=user.id%>">Add Admin</a></div>
      <%end%>
    </div>
  <%end%>
</div>