<div id="users">
  <%@users.each do |user|%>
    <div class="user" style="border: 1px solid; width:300px">
      <div>Name: <%=user.name%></div>
      <div>Email: <%=user.email%></div>
      <div>Join date: <%=user.created_at%></div>
      <div><%= link_to "Delete User", "/delete_user/#{user.id}", :method => "delete" %></div>
      <div>
        <%if user.admin?%>
          <%= link_to "Delete Admin", "/delete_admin/#{user.id}", :method => "put" %>
        <%else%>
          <%= link_to "Add Admin", "/add_admin/#{user.id}", :method => "put" %>
        <%end%>
      </div>
    </div>
  <%end%>
</div>