<div class="signup">
  <div class="container">
    <%= form_for(:user, :url => signup_url) do |f| %>
      <%= f.text_field :name, :placeholder => 'Name' %>
      <%= f.email_field :email, :placeholder => 'Email' %>
      <%= f.password_field :password, :placeholder => 'Password' %>
      <%= f.submit "Signup", :class => "form-btn" %>
    <% end %>
  </div>
</div>