<!DOCTYPE html>
<html>
<head>
  <title>RapidShare</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div style="background-color:red" id="banner">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <script type="text/javascript">
      var banner = document.getElementById("banner");
      banner.style.opacity=1;
      var interval = setInterval(function(){
        banner.style.opacity-=0.01;
      },100);
      setTimeout(function(){
        clearInterval(interval);
        banner.remove();
      },5000);
    </script>
  </div>
  <div class="nav">
    <% if current_user %>
      <ul>
        <li><%= current_user.email %></li>
        <li><%= link_to "Edit Account", "/users/edit"%></li>
        <li><%= link_to "View Documents", root_url%></li>
        <li><%= link_to "Add Document", add_url, :method => "get" %></li>
        <% if current_user.admin? %><li><%= link_to "Users", users_url%></li><%end%>
        <li><%= link_to "Log out", logout_url, :method => "delete" %></li>
      </ul>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
